html
	head
	body
		form
			input(autocomplete="off", name='name', type='text', list='teams', id='teamInput', placehorlder='Search first name')
			datalist(id='teams')
			button(type='submit', formmethod='post') Search



		script(src="jquery-3.1.1.js")
		script.
			var setTimer = 0
			$('#teamInput').keyup(function(event) {
				var timeInMs1 = Date.now()
				
				var userInput = $("#teamInput").val()
				//console.log(userInput)

				var dataSend = {
				pass: userInput
				}
				if (timeInMs1 - setTimer > 3000) {
					$.post('/autocomplete', dataSend, function(result) {
						console.log(result[0].firstname)
						for(var i = 0; i < result.length; i++) {
							$("#teams").append("<option>"+result[i].firstname+"</option>")
								//console.log(result)
								//console.log("result = userInput")
								setTimer = Date.now()	
						}
					});	//server terug naar 
				}//if
			});//keyup