html
	head
	body
		form
			input(name='name', type='text', list='teams', id='teamInput', id='name')
			datalist(id='teams')
				option(value='My great team')
				option(value='My other team')
			button(type='submit', formmethod='post') Search



		script(src="jquery-3.1.1.js")